<div class="sidebar-search">

   <ul class="sidebar-nav">
       <li class="heading">Blog search</li>
       <li class=" bullet">
            <a class="searchLink" href="https://indieseek.xyz/links/">Indie Seek</a>
       </li>
       <li class="searchLink bullet">
           <a class="searchLink" href="https://blogroll.org">Ye Olde Blogroll</a>
      </li>
      <li class="searchLink bullet">
          <a class="searchLink" href="https://indieblog.page">Indie Blog</a>
     </li>
     <li class="searchLink bullet">
         <a class="searchLink" href="https://searchmysite.net">Search My Site</a>
    </li>

   </ul>

</div>
