{{ if .Params.tags }}
    <ul class="tags">
        {{ range .Params.tags }}
        <li class="tag-{{ . }}">
            <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
    </ul>
{{ end }}
<hr>
<div class="footer">

    {{ if .Params.series }}

        {{ $Site := .Site }}
        {{ $postTitle := .Title }}
        <p>
        This is a post in the <b><a href="{{ $Site.BaseURL }}series/{{  index .Params.series 0 }}">{{ index .Params.series 0 }}</a></b> series.
        </p>

        <p>Other posts in this series:
            <ul class="series">
                {{ $seriesUrl := print "series/" (index .Params.series 0 | urlize) }}
                {{ $series := .Site.GetPage $seriesUrl }}
                {{ range $series.Pages }}
                <li>
                    {{ if ne .Title $postTitle }}
                        <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>
                    {{ else }}
                        <strong>{{ .Title }}</strong>
                    {{ end }}
                    <span class="seriesPostDate">posted on {{ .Date | time.Format ":date_full" }}</span>
                </li>
                {{ end }}
            </ul>
        </p>
    {{ else }}

    {{ with .PrevInSection }}
        <a class="previous" href="{{ .Permalink }}">« {{ .Title | truncate 50 "..." }}</a>
      {{ end }}
      {{ with .NextInSection }}
        <a class="next" href="{{ .Permalink }}"> {{ .Title | truncate 50 "..." }} »</a>
      {{ end }}

    {{ end }}

</div>
